asgiref==3.7.2
distlib==0.3.8
Django==5.0
django-cors-headers==4.3.1
django-rest-framework==0.1.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
filelock==3.13.1
mysqlclient==2.2.4
pbr==6.0.0
pillow==10.3.0
platformdirs==4.1.0
PyJWT==2.8.0
pytz==2023.3.post1
sqlparse==0.4.4
stevedore==5.1.0
tzdata==2023.4
virtualenv==20.25.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.0.0
virtualenvwrapper-win==1.2.7
